    
<div class="center hero-unit">
    <h1>Youtube video checker</h1>
    <div class="form">
        <%= form_tag(root_path) do %>
              <input name="link" class="span5"/> 
              &nbsp; 
              <%= submit_tag 'Check video', class: "btn btn-large btn-primary" %>
        <% end %>
        <% flash.each do |key,value| %>
            <%= content_tag( :div, value, class: "alert alert-#{key}" ) %>
        <% end %>
    </div>
</div>