<header class="navbar navbar-fixed-top">
    <div class="navbar-inner"> 
      <div class="container">
          <%= link_to "Youtube video checker", root_path, id: "logo" %>
      </div>
    </div>
</header> 